// HEADER
.header {
  margin-left: $column;
  min-height: 100vh;
}

// NAV
.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: ($column - 50px);
  padding: 0 12px;
  &__h1 a {
    text-decoration: none;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  &__item {
    display: inline-block;
    margin-right: 5px;
  }
}

// MAIN

.main {
  margin-left: $column;
}

.section {
  min-height: 100vh;
}